.react-calendar {
  background-color: #e0f2fe;
  padding: 32px;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.react-calendar__tile {
  --tw-bg-opacity: 0.2;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  border-radius: 4px;
  height: 40px;
  box-sizing: border-box;
}

.react-calendar__tile:not(.react-calendar__tile--active):hover {
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.react-calendar__tile--now {
  background-color: #4caf50;
  /* color: white; */
}

.react-calendar__tile--now:hover {
  background-color: #3a853c;
  /* color: white; */
}

.react-calendar__tile--active {
  background-color: #007acc;
  color: white;
}

.react-calendar__navigation {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.react-calendar__navigation__label__labelText {
  font-weight: bold;
  text-transform: uppercase;
}

.react-calendar__navigation button {
  font-weight: bold;
  font-size: 1.5rem;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  width: 32px;
  padding: 0.5rem;
  border-radius: 4px;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__next2-button:hover {
  background-color: #00000010;
}
